.Keyboard {
}

.Keyboard__row {
  display: flex;
  justify-content: center;
}

.Keyboard__letter {
  display: block;
  border: 2px solid black;
  margin: 1.0rem;
  padding: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--colors-key);
}
.Keyboard__letter:hover {
  cursor: pointer;
  background-color: var(--colors-key-hovered);
}

.Keyboard__letter--selected {
  background-color: var(--colors-key-selected);
}
